h1, h2, h3, h4 {
	text-align: center;
}

.row {
	
}


/*tbody,tr:nth-child(odd)*/
tbody tr:nth-of-type(odd) {
   background:rgba(200,200,200,0.5);

}

tbody tr:hover {
	background:rgba(255,255,116,0.5);
}

.green {
	color: #4CAF50;
}

.red {
	color: #F44336;
}

.yellow {
	color: #F57F17;
}

.logic-symbol {
	font-size: 1.75em;
}