<div class="row">
    <div>
        <h2>Introduction to Logic - Proof Solver</h2>
        <md-content class="md-padding center" layout="row" layout-align="center" layout-sm="column" style="font-size:1.2em">
		    <md-input-container>
		 	  <label>Sequent</label>
		      <input ng-model="sequent">
		    </md-input-container>
		    <md-button class="md-raised md-primary" ng-click="checkSequent($event)" style="height:2em; margin-left: 1em;">Valid Sequent?</md-button>
		</md-content>
    </div>
</div>