<div class="row">
    <h2>Home</h2>
    <ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="#/">Home</a></li>
	  <li role="presentation"><a href="#/truth-table/">Truth Tables</a></li>
	  <li role="presentation"><a href="#/proof-validate">Proof Validation</a></li>
	  <li role="presentation"><a href="#/proof-solve">Proof Solver</a></li>
	</ul>
    <p>This is a project I started to solve symbolic logic proofs for the
    	Philosophy 120 class at the University of Washington.</p>
    <p>The application is meant to solve and validate problems found in
    	the book <i>Beginning Logic</i> by Edward John Lemmon.</p>
    	
   	<p>If you have questions feel free to contact me at <a href="mailto:blomqcon@uw.com">blomqcon@uw.edu</a>.</p>
   	<p>The source files can be found on GitHub <a href="https://github.com/blomqcon/logic-solver">here</a>.</p>
</div>