<div class="row">
    <h2>Proof Validation</h2>
    <ul class="nav nav-tabs">
	  <li role="presentation"><a href="#/">Home</a></li>
	  <li role="presentation"><a href="#/truth-table/">Truth Tables</a></li>
	  <li role="presentation" class="active"><a href="#/proof-validate">Proof Validation</a></li>
	  <li role="presentation"><a href="#/proof-solve">Proof Solver</a></li>
	</ul>
	
	<p>I'm actively working on this feature. Check the
	 <a href="https://github.com/blomqcon/logic-solver">GitHub Repository</a> to see progress or contribute.</p>
</div>