<div class="row">
    <h2>Truth Table Calculator</h2>
    <ul class="nav nav-tabs">
	  <li role="presentation"><a href="#/">Home</a></li>
	  <li role="presentation" class="active"><a href="#/truth-table/">Truth Tables</a></li>
	  <li role="presentation"><a href="#/proof-validate">Proof Validation</a></li>
	  <li role="presentation"><a href="#/proof-solve">Proof Solver</a></li>
	</ul>
    <md-content class="md-padding center" style="font-size:1.2em">
    	<section layout="row" layout-sm="column" layout-align="center center">
	    	<md-input-container>
			 	<label>Sequent</label>
		      	<input id="sequent" ng-model="sequent" ng-class="">
		    </md-input-container>
		    <md-button class="md-raised md-primary" ng-click="checkSequent($event)" style="height:2em; margin-left: 1em;">Valid Sequent?</md-button>
		    <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
    	</section>
    	
    	<section layout="row" layout-sm="column" layout-align="center center">
    		<md-button md-no-ink class="md-primary logic-symbol" ng-click="logicSymbol($event)" value="-">-</md-button>
    		<md-button md-no-ink class="md-primary logic-symbol" ng-click="logicSymbol($event)" value="v">v</md-button>
    		<md-button md-no-ink class="md-primary logic-symbol" ng-click="logicSymbol($event)" value="&">&</md-button>
    		<md-button md-no-ink class="md-primary logic-symbol" ng-click="logicSymbol($event)" value="→">→</md-button>
    		<md-button md-no-ink class="md-primary logic-symbol" ng-click="logicSymbol($event)" value="↔">↔</md-button>
    		<md-button md-no-ink class="md-primary logic-symbol" ng-click="logicSymbol($event)" value="⊢">⊢</md-button>
    	</section>
    	
    	<section layout="row" layout-sm="column" layout-align="center center">
    		<h4 ng-bind="message" ng-class="messageColor"></h4>
    	</section>
	</md-content>
	
	<div>
		<table class="table">
			<col ng-repeat="colColor in tableCols track by $index" style="{{colColor}}" />
			<thead>
				<tr>
					<th ng-repeat="header in tableHeaders track by $index">{{ header }}</th>
				</tr>
			</thead>
			<tbody>
			  <tr ng-repeat="row in tableValues">
			  	<td ng-repeat="cell in row track by $index">{{ cell }}</td>
			  </tr>
			</tbody>
		</table>
	</div>
	
	<section layout="row" layout-sm="column" layout-align="center center">
   		<md-button class="md-primary example" ng-click="loadExample($event)" value="0">Example One: MTT</md-button><br>
   		<md-button class="md-primary example" ng-click="loadExample($event)" value="1">Example Two: Contraposition</md-button><br>
   		<md-button class="md-primary example" ng-click="loadExample($event)" value="2">Example Three: DeMorgan</md-button><br>
   		<md-button class="md-primary example" ng-click="loadExample($event)" value="3">Example Four: Disjunctive Syllogism</md-button><br>
 	</section>
</div>